/****************************************************************************

V.RC
  Minimal .RC for V applications

*****************************************************************************/

vAppIcon ICON avg_q.ico
vWindowIcon ICON avg_q.ico
