/****************************************************************************

V.RC
  Minimal .RC for V applications

*****************************************************************************/

vAppIcon ICON do_p.ico
vWindowIcon ICON do_p.ico
